html, body {
    min-height: 100vh;
}

/* site layout */
#app {
    display: flex;
    flex-direction: column;
}

#content {
    flex: 1;
}

.header {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}